
.table-view{
	-fx-background-color: #589DE6;
	-fx-background-radius: 30;
	
	
}

.table-view .colum-header-background{
	
	-fx-background-radius: 30;
	-fx-background-insets:0 0 10 0;
	-fx-padding: 0 0 10 0;
	-fx-effect: dropshadow(two-pass-box,rgb(10,101,107),15,0.0,0.1,3);
	
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header .filler {
    -fx-background-color: #58DDE6;
    -fx-background-radius: 30;
    -fx-size:40;
    -fx-border-width:0 0 10 0;
    -fx-text-fill:white ;
    -fx-effect: dropshadow(two-pass-box,rgb(10,101,107),15,0.0,0.1,3);
    -fx-text-fill: #FFFF;
    
}

